.about-me-container {
  min-height: calc(100vh - 273px);

  .title {
    color: #4a4a4a;
    font-size: 21px;
    text-decoration: underline;
    margin-top: 25px;
    padding-left: 24px;
  }

  .description {
    margin-top: 16px;
    text-align: justify;
    padding-left: 25px;
    padding-right: 20px;

    @media (max-width: 990px) and (min-width: 768px){
      font-size: 22px;
    }
  }

  .image-about-me-container {
    @media (max-width: 768px) and (min-width: 320px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @media (max-width: 990px) and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .image-about-me {
      width: 214px;
      height: 230px;
      margin-bottom: 15px;
      margin-top: 10px;
      border-radius: 8px;
      box-shadow: 0 8px 8px 0 #773da1;

      @media (max-width: 990px) and (min-width: 768px){
        width: 305px;
        height: 287px;
        margin-top: 29px;
        margin-bottom: 37px;
      }
    }
  }
}
