.about-me-container{
  min-height: calc(100vh - 273px);
  
  .description {
    margin-top: 45px;
    //width: 750px;
    height: 275px;
    word-spacing: 5px;
    text-align: justify;

    @media (max-width: 768px) {
       margin-top: 16px;
       word-spacing: 0px;
    }
  }

}

.title {
  color: #4a4a4a;
  font-size: 28px;
  text-decoration: underline;
  margin-top: 25px;

  @media (max-width: 768px){
    font-size: 21px;
    margin-top: 19px;
  }
}

.image-about-me {
  width: 400px;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 8px 8px 0 #773da1;

  @media (max-width: 768px){
    margin-top: 302px;
    width: 283px;
    height: 291px;
    margin-left: 26px;
  }
}
