.container-contact {
  min-height: calc(100vh - 200px);

  @media (min-width: 992px){
    min-height: calc(100vh - 185px);
  }


  .container-icon {
    display: flex;
    justify-content: space-evenly;

    .icon {
      color: black;
      margin-top: 65px;
      font-size: 35px;
    }
  }

  .image-contact {
    padding-top: 30vh;
    display: flex;
    justify-content: center;
  }
}
