.experience-container {
  min-height: calc(100vh - 273px);

  @media (min-width: 992px){
    min-height: calc(100vh - 185px);
  }

  .title {
    color: #4a4a4a;
    font-size: 21px;
    text-decoration: underline;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  .list {
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 5px;
    padding-bottom: 5px;

    .paragraph {
      margin-top: 10px;
    }
  }

  .image-experience-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .imgage-experience {
      width: 214px;
      height: 230px;
      margin-bottom: 20px;
      margin-top: 28px;
      border-radius: 8px;
      box-shadow: 0 8px 8px 0 rgb(229, 184, 244);
    }
  }
}
