.box-container {
  min-height: calc(100vh - 180px);

  p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 16px;
    margin-top: 16px;

    @media (min-width: 992px) {
      margin-top: 177px;
    }
  }

  .container-imagen-main {
    display: flex;
    justify-content: center;
    align-items: center;

    .imagen-main {
      width: 300px;
      height: 250px;
      margin-bottom: 24px;
      margin-top: 28px;
      border-radius: 8px;
      box-shadow: 0 8px 8px 0 rgb(229, 184, 244);

      @media (min-width: 992px) {
        margin-top: 80px;
      }
    }
  }
}
