.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4a4a4a;
    text-transform: uppercase;
    background-color: rgb(216, 233, 168);
    height: 8vh;
    font-size: 18px;
}