.portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 20px;
    text-transform: uppercase;
    background-color: #773da1;
    height: 8vh;
    font-size: 18px;
}