.projects-container {
  min-height: calc(100vh - 273px);
  
  .projects-1 {
    margin-bottom: 20px;
    
    .project-box{
      display: flex;

      .image-projects {
        width: 150px;
        height: 150px;
        border-radius: 25px;
        margin-top: 16px;
        box-shadow: 0 8px 8px 0 #773da1;
      }
    
      .description {
        margin: 36px 16px 25px 25px;
        padding: 5px;
        text-align: justify; 
      }
    }
  }
}
