.container-1 {
  min-height: calc(100vh - 200px);

  .title {
    color: #4a4a4a;
    font-size: 21px;
    text-decoration: underline;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  p{
    padding-bottom: 16px;

    @media (min-width: 992px){
      padding-top: 32px;
    }
  }
}
