.container-1 {
  min-height: calc(100vh - 273px);

  .title {
    color: #4a4a4a;
    font-size: 21px;
    text-decoration: underline;
    margin-top: 18px;
    margin-bottom: 20px;
    text-align: center;
  }

      h2 {
        color: #4a4a4a;
        font-size: 21px;
        text-align: center;
      }

      .layout {
        display: flex;
        align-items: center;
        justify-content: center;

        .layout-img {
          width: 40px;
          height: 52px;
          cursor: pointer;
          margin-bottom: 16px;
          border-radius: 50%;
          border: 1px solid rgb(147, 145, 145);
        }
      }
    }
 
